@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

body {
  background: url("http://127.0.0.1/bsconn/app/img/bg.png") no-repeat center center fixed !important; 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  font-family: 'Lato', sans-serif;

}
h1{
  color: white;
  font-weight: 200;
}
#titre{
  font-weight: 500;
}
#myModalLabel{
  color: rgba(215, 40, 40, 1);
}
.modal{
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.wrapper {
  margin-top: 30px;
  margin-bottom: 80px;
  border-radius: 10px;
}
.modal-content{
  background-color: rgba(255,255,255,0.1);
  color: white;
}
.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
  color: white;
  font-weight: 300;
}
.btn-block{
  font-weight: 200 ;
}
.form-signin .checkbox {
  font-weight: 300;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.customH1{
  margin: 5px;
}

@import url("http://getbootstrap.com/dist/css/bootstrap.css");
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
body {
  background: none repeat scroll 0 0 white;
}

nav.sidebar-menu-collapsed {
  width: 50px;
}

nav.sidebar-menu-expanded {
  width: 106px;
}

nav.sidebar {
  transition: 0.3s;
  -webkit-transition:  0.3s;
  position: fixed;
  top: 0px;
  left: 0px;
  height: calc(100% - 50px);
  
  background-color: rgba(255,255,255,0.1);
  color: white;
  padding: 20px 10px;
}
.navbar-inverse{
  background-color: rgba(255,255,255,0.1);
}
nav.sidebar a#justify-icon {
  outline: 0;
  color: white;
  font-size: 24px;
  font-style: normal;
}

nav.sidebar a#logout-icon {
  outline: 0;
  color: white;
  font-size: 24px;
  font-style: normal;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

nav.sidebar ul {
  margin: 0;
  padding: 0;
  margin-top: 60px;
}

nav.sidebar ul li {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}

nav.sidebar ul li a.expandable {
  outline: 0;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

nav.sidebar ul li a.expandable:hover {
  color: #bbbbbb;
}

nav.sidebar ul li a.expandable span.expanded-element {
  margin-left: 2px;
  display: none;
  font-size: 11px;
  position: relative;
  bottom: 2px;
}

nav.sidebar ul li.active {
  background: none repeat scroll 0 0 black;
  border-radius: 4px;
  text-align: center;
  margin-left: -4px;
  padding: 4px;
}

nav.sidebar ul li.active a.expandable {
  color: white !important;
}

nav.sidebar ul li.active a.expandable:hover {
  color: white !important;
}

.container-fluid{
  padding-left: 50px !important;
}